.body {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: #F5F3F5;
    color: aqua;
}
:root {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #302B27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
}

input {
    width: 300px;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    display: flex;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

button {
    background-color: #203c7c;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top:10px ;

}

h3.inp {
    margin: 5px 0 ;
    font-size: 14px;
    color: #000;
}

.title {
    font-weight: bold;
    border: 2px solid black; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100px;
    background-color: #1B264Fed;
    color: #ffffff;
    justify-content: center;
    font: 1em sans-serif;
    padding-top: 20px; 
}

