@import "tailwindcss";

@theme {
  --color-black: #202020;
  --color-white: #f1f1f1;
  --color-white-smoke: #F5F3F5;
  --color-jet: #302B27;
  --color-true-blue: #576CA8;
  --color-marian-blue: #274690;
  --color-space-cadet: #1B264F;
}